@font-face {
  font-family: "iconfont"; /* Project id 3622404 */
  src: url('iconfont.woff2?t=1662444750629') format('woff2'),
       url('iconfont.woff?t=1662444750629') format('woff'),
       url('iconfont.ttf?t=1662444750629') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dizhi:before {
  content: "\e652";
}

.icon-ganxingquzhiwei:before {
  content: "\e62c";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-icon-test:before {
  content: "\e617";
}

.icon-github:before {
  content: "\e689";
}

.icon-dianhua:before {
  content: "\e8ad";
}

.icon-nianling:before {
  content: "\e7ba";
}

.icon-worker:before {
  content: "\e616";
}

.icon-xiangmujingyan:before {
  content: "\e60a";
}

.icon-ziwojieshao:before {
  content: "\e654";
}

.icon-_xiangmujingyan:before {
  content: "\e611";
}

.icon-skill:before {
  content: "\e604";
}

.icon-education:before {
  content: "\e661";
}

.icon-qiuzhi:before {
  content: "\e60d";
}

.icon-work:before {
  content: "\e683";
}

.icon-xiaoyuan:before {
  content: "\e67e";
}

